target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/nbproject/
/release.sh
/snapshot.sh
/jc2/nbproject/
/jc2-env-vars/nbproject/
/jc2-env-vars/release.sh
/jc2-env-vars/snapshot.sh